<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length > 0) { %>
            <ul class="cart__item-list">
                <% orders.forEach(order => { %>
                <%= JSON.stringify(order) %>
                    <li >
                        <h1><%= order.id %></h1>
                        <ul>
                            <%  order.products.forEach(product => { %>
                                <li><%= product.title %> ...pocet ( <%= product.orderItem.quantity %> )</li>
                            <% }); %>
                            
                        </ul>
                        <!-- <form action="/cart-delete-item" method="POST"> 
                            <input type="hidden" value="<%= %>" name="productId">
                            <button class="btn danger" type="submit">Delete</button>
                            </form>
                        -->
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
            <!-- 
                <form action="/create-order" method="POST">
                    <button type="submit" class="btn"> order now </button>
                </form>
            -->
            </div>
        <% } else { %>
            <h1>No orders!</h1>
        <% } %>
        </main>
        <%- include('../includes/end.ejs') %>